
footer {
        display: flex;
        align-items: center;
        flex-direction: column;
}

.footer-item-holder {
        display: flex;
        justify-content: space-between;
        margin:2% 0;
}



.footer-item {
        display: flex;
        flex-direction: column;
        margin:0 2%;
        border:1px solid grey;
        border-radius: 5px;
        padding: 2%;
}